:root {
	--black: #444;
	--primary: darkblue;
	--success: darkgreen;
	--danger: brown;
	--border-color: gray;
	--border: solid 1px var(--border-color);
	--radius: 5px;
}

html {
	overflow-y: scroll;
	color: var(--black);
}
body {
	margin: 0;
}
* {
    box-sizing: border-box;
}
svg, img {
	vertical-align: middle;
}
img, iframe, object, embed, video {
    /*max-width: 100%;*/
    /*height: auto;*/
}
select, button, input {
	line-height: inherit;
	font-size: inherit;
	font-family: inherit;
}
button:not(:disabled) {
	cursor: pointer;
}
button.transparent,
.button.transparent {
	border-radius: 0;
	text-align: inherit;
	color:inherit;
	font-size:inherit;
	font-family: inherit;
	padding:0; 
	margin:0; 
	background:transparent; 
	border:none;
	box-shadow: none;
}
button:disabled,
.button:disabled {
	opacity: 0.5;
}
button.transparent::before,
.button.transparent::before {
	background:transparent;
}
.button.transparent:hover,
button.transparent:hover {
	background: transparent;
	border: none;
	color: inherit;
}
.button.transparent:active,
button.transparent:active {
	-webkit-tap-highlight-color: transparent;
	box-shadow: none;
}
button.process,
.button.process {
	border-style: dashed;
	opacity:0.5;
	cursor: default;
}

table td, table th {
	vertical-align: top;
}
table th {
	text-align: left;
}
th > p,
td > p {
	margin:0;
	padding:0;
}
.a {
	background-color: transparent;
	color: inherit;
	display: inline;
	font-size: inherit;
    font-weight: inherit;
	padding:0;
	margin:0;
	box-shadow: none;
	cursor: pointer;
	border:none;
	border-bottom: dashed 1px currentColor;
	border-radius: 0;
}
.a {
	color: var(--primary);
}
.a:active {
/*	color: var(--primary);*/
	box-shadow: none;
	border-bottom: dashed 1px currentColor;
}
.a:hover {
/*	color: var(--primary);*/
	box-shadow: none;
	border-bottom: dashed 1px currentColor;
}



a {
	-webkit-tap-highlight-color: transparent;
}
a:hover:has(:is(svg, img)),
a:has(:is(svg, img)) {
	border: none;
	padding: 0;
}

table {
	border-collapse: collapse;
}
thead td,
thead th {
    vertical-align: bottom;
}
tbody th,
tbody td {
	vertical-align: top;
}
td, th {
    padding: 0.3rem;
}
dialog {
	color: inherit;
}

@media print {
	.noprint {
		display: none!important;
	}
}


img.right {
	float:right; 
	max-width:50%;
	margin-left:1em;
	margin-bottom:1em;
	height: auto
}
@media (max-width: 767px) {
	img.right {
		float:none; 
		display: block;
		margin:1em auto;
		max-width:100%; 
		height: auto
	}
}