:root {
	--black: #444;
	--primary: #0b7ace;
	--success: #e74405;
}

html {
	overflow-y: scroll;	
	color: var(--black);
}
body {
	margin: 0;
}
* {
    box-sizing: border-box;
}
svg, img {
	vertical-align: middle;
}
img, iframe, object, embed, video {
    /*max-width: 100%;*/
    /*height: auto;*/
}
select, button, input {
	line-height: inherit;
	font-size: inherit;
	font-family: inherit;
}
button:not(:disabled) {
	cursor: pointer;
}
table td, table th {
	vertical-align: top;
}
table th {
	text-align: left;
}
th > p,
td > p {
	margin:0;
	padding:0;
}
.a {
	background-color: transparent;
	color: inherit;
	display: inline;
	padding:0;
	margin:0;
	box-shadow: none;
	border-radius: 0;
	cursor: pointer;
	border:none;
	border-bottom: dashed 1px currentColor;
}
.a {
	color: var(--primary);
}
.a:active {
	color: var(--primary);
	box-shadow: none;
	border-bottom: dashed 1px currentColor;
}
.a:hover {
	color: var(--primary);
	box-shadow: none;
	border-bottom: dashed 1px currentColor;
}



a {
	-webkit-tap-highlight-color: transparent;
}
a:hover:has(:is(svg, img)),
a:has(:is(svg, img)) {
	border: none;
	padding: 0;
}

table {
	border-collapse: collapse;
}
thead td,
thead th {
    vertical-align: bottom;
}
tbody th,
tbody td {
	vertical-align: top;
}
td, th {
    padding: 0.3rem;
}
dialog {
	color: inherit;
}