html {
	overflow-y: scroll;	
}

body {
	margin: 0;
}
* {
    box-sizing: border-box;
}
svg, img {
	vertical-align: middle;
}
img, iframe, object, embed, video {
    /*max-width: 100%;*/
    /*height: auto;*/
}
select, button, input {
	line-height: inherit;
	font-size: inherit;
	font-family: inherit;
}
button:not(:disabled) {
	cursor: pointer;
}
table td, table th {
	vertical-align: top;
}
table th {
	text-align: left;
}
a {
	-webkit-tap-highlight-color: transparent;
}
.a {
	cursor: pointer;
	border-bottom: dashed 1px currentColor;
}
table {
	border-collapse: collapse;
}
thead td,
thead th {
    vertical-align: bottom;
}
tbody th,
tbody td {
	vertical-align: top;
}
td, th {
    padding: 0.3rem;
}
dialog {
	color: inherit;
}