table {
	border-collapse: collapse;
	border-top: 1px solid #ddd;
/*	border-left: 1px solid #ddd;*/
	border-right: 1px solid #ddd;

    overflow-x: auto;
    overflow-y: visible;
    display: block;
    max-width: fit-content;
}
table {
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;
}
table::-webkit-scrollbar {
	height: 2px;
	width: 2px;
}
table::-webkit-scrollbar-thumb {
	background-color: var(--main, rgba(0,0,0,0.3));
	border-radius: 5px;
}



th, td {
	padding: 0.6em 1em;
	text-align: left;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
tr > :first-child {
/*	border-left: 1px solid #ddd;*/
}




tbody th, 
tbody td {
	
}
thead {
	font-weight: bold;
}
tbody tr:nth-child(odd) {
/*	background-color: #f2f2f2;*/
}



@media (max-width: 575px) {
	th, td {
		padding: 0.3em 0.5em;
	}
}