table {
	border-collapse: collapse;
	border-top: 1px solid #ddd;
/*	border-left: 1px solid #ddd;*/
	border-right: 1px solid #ddd;

    overflow-x: auto;
    overflow-y: visible;
    display: block;
    max-width: fit-content;
}

th, td {
	padding: 0.6em 1em;
	text-align: left;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
tr > :first-child {
/*	border-left: 1px solid #ddd;*/
}




tbody th, 
tbody td {
	
}
thead {
	font-weight: bold;
}
tbody tr:nth-child(odd) {
/*	background-color: #f2f2f2;*/
}