.showBig .image {
	cursor: pointer;
}
.showBig .image.big {
	position: fixed;
	
	width: auto!important;
	max-height: 100vh;
	max-width: 100vw;
	
	height:auto;
	justify-self: center;
	box-shadow: 0px 0px 0px 9999px rgb(228 228 228 / 78%);
	background-color: rgb(228 228 228 / 78%);
	z-index: 102;	
	
	top:0;
	
	left: 0;
	right:0;
	text-align:center;

	bottom: 0;
	display: grid;
	align-items: center;

}
.showBig .image .big {
	display: none;
}
.showBig .image.big .big {
	display: inline!important;
}
.showBig .image .small {
	display: block;
}
.showBig .image.big .small {
	display: none;
}