.notewrapper {
	/*height:100%;*/
	opacity:1!important;
	--color: pink;
	border: 1px solid #eee;
}
.notewrapper .note {
	outline: none; 
	line-height: 1.3;
	padding:1ch 1ch;
/*	font-family: "Segoe UI", monospace;*/
/*	letter-spacing: 0.2px;*/
	font-family: monospace;
	
	border:none;
	font-size: inherit;
	display: inline-block;
	width:100%;
	/*white-space: pre-wrap;*/
	/*overflow: hidden;*/
	/*word-wrap: break-word;*/
	tab-size: 2;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	margin:0;
	border:none;
}
.notewrapper .note {
	white-space: pre;
	tab-size: 2;
}
.notewrapper .area {
	overflow: auto;
}
.notewrapper.wrap .note {
	overflow: hidden;
	white-space: pre-wrap;
	word-break: break-word;
}
.notewrapper .area {
	color:transparent;
	/*font-smooth: never;
	-webkit-font-smoothing: none;*/
	resize: none;
	overflow:hidden;
	color: rgba(0,0,0,0.3);
	background-color: transparent;
}
.notewrapper .area:disabled {
	background-color: color-mix(in srgb, var(--color) 10%, transparent);
}
.notewrapper .view {
	/*pointer-events: none;*/
	/*color: transparent;
	color: rgba(0,0,0,1);*/
	color: black;
	background-color: color-mix(in srgb, var(--color) 20%, transparent);
	transition: background-color 0.1s;
}
.notewrapper.focus .view {
/*	background-color: white;*/
}
.notewrapper.joined .view {
	background-color: rgba(255,255,255,0.9);
}


.notewrapper .note[placeholder]:empty:before {
	content: attr(placeholder);
	color: #555; 
}
.notewrapper .note[placeholder]:empty:focus:before {
	content: '';
}


.notewrapper {
	display: grid;
	overflow-y: auto;
}


.notewrapper .cursor {
	transform: scale(0);
	background-color: rgba(12, 123, 214, 0.5);
	position: relative;
	margin-left: -1px;
	animation: 1s infinite running notelic_scale;
}



.notewrapper .area::selection,
.notewrapper .select {
	background-color: hsla(var(--hue), 50%, 50%, 20%)
}
.notewrapper .area {
	caret-color: hsl(var(--hue), 50%, 50%);
}

.notewrapper .cursor {
	border-right:1px solid hsl(var(--hue), 50%, 50%);
}







.notewrapper .select.mute {
	background-color: transparent;
	color: rgba(0,0,0,0.7);
	color: transparent;
}




@media print {
	.notewrapper .note.area {
		display: none;
	}
	.notewrapper .note.view {
		background-color: white;
		color:black;
		display: block;
	}
}
@keyframes notelic_scale {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}




.notewrapper .note_link {
	color:blue;
}

.notewrapper .note_bold {
	font-weight: bold;
}
.notewrapper .brackets {
	--hue:50;
	--opacity: 20%;
	outline: 1px solid hsla(var(--hue), 50%, 30%, 20%);	
	background-color: hsla(var(--hue), 100%, 50%, var(--opacity));
    outline-offset: 1px;
    outline-style: dashed;
    border-radius: 0.25em;
}
