.dialogframe {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	/*width: 100vw;*/
	width: 100%;
	overflow-y: auto;
	z-index:  1000;
	/*bottom: 0;
	right: 0;*/
	background-color: rgba(0,0,0,0.4);
	/*backdrop-filter: blur(5px);*/
	display: grid;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.3s;
	pointer-events: none;
}
.dialogframe.show {
	pointer-events: auto;
	opacity: 1;
}

.dialogframe .dialogclose {
	right: 0;
	padding-right: 6px;
    padding-left: 6px;
	display: inline-block;
	top: 0;
	opacity:  0.6;
	cursor: pointer;
	line-height: 36px;
	height: 36px;
	overflow: hidden;
	font-size: 36px;
	position: absolute;
	transition: opacity 0.3s;
	background-color: transparent;
	border: none;
	user-select: none;
}
.dialogframe .dialogclose:hover {
	opacity:  1;
}
.dialogframe > .dialogbody {
	position: relative;
	min-width: 330px;
	width: fit-content;
	margin:  60px;
	padding: 30px;
	background-color:white;
}
@media(max-width: 700px) {
	.dialogframe > .dialogbody {
		margin:  15px;
	}
}
.dialogframe h1 {
	margin-top: 0;
}